swagger: '2.0'
info:
  description: >-
    This document is just a draft. You can require the final release by contacting the `bexs development team` directly.
  version: 0.0.1 alpha
  title: BexsPay
  termsOfService: 'http://developer.bexpay.com/terms/'
  contact:
    email: payments@bexs.com
host: api.bexs.com
basePath: /v1
tags:
  - name: charge
    description: Everything about your Pets
  - name: management
    description: Access to Petstore orders
schemes:
  - https
paths:
  /charges:
    post:
      summary: Charges the customer
      description: The charge function enables you to charge the customer through card(credit or debit), slip or fund transference.
      tags:
        - charge
      parameters: 
        - in: body
          name: charge
          required: false
          schema:
            $ref: '#/definitions/charge'
      responses:
        '200':
          description: the charge current status
          schema:
            $ref: '#/definitions/charge_response'
    get:
      summary: Allows you to query the charges using some combination of filters
      description: adsfasdf
      tags:
        - charge
      responses:
        '200':
          description: OK
  '/charges/{id}':
    get:
      summary: Retrieve data from a specific charge
      description: Recover information about the charge specified in the path parameter ***id***
      tags:
        - charge
      parameters:
        - name: id
          in: path
          type: string
          required: true
          description: The charge id
      responses:
        '200':
          description: the charge current status
          schema:
            $ref: '#/definitions/charge_response'
  '/charges/{id}/capture':
    post:
      summary: This operation captures the total amount charged previously
      description: Whether the charge specified is not confirmed previously, you can use this operation to confirm. Not confirmed transactions are not able to be paid and will not be available for clearing process.
      tags:
        - payment
      parameters:
        - name: id
          in: path
          type: string
          description: The charge id
          required: true
      responses:
        '200':
          description: the charge current status
          schema:
            $ref: '#/definitions/charge_response'
  '/charges/{id}/cancel':
    post:
      summary: Cancel the specified transaction
      description: The Cancel operation is responsible for canceling and refund the customer on the same payment method. If it was payid by using transference or slip methods, the destination check account must indicate as part of the cancelling request body.
      tags:
        - charge
      parameters:
        - name: id
          in: path
          type: string
          description: The charge id
          required: true
        - in: body
          name: account
          required: false
          schema:
            $ref: '#/definitions/bank_account'
      responses:
        '200':
          description: OK
  /transfers:
    post:
      summary: Request a transfer of available money to a overseas account
      description: sd
      tags:
        - transfer
      responses:
        '200':
          description: OK
    get:
      summary: Allows you to query transferences using any combination of filters
      description: asdf
      tags:
        - transfer
      responses:
        '200':
          description: OK
  '/transfers/{id}':
    patch:
      summary: Update transference information when needed
      description: You are able to fix some invalid parameter or adjust amounts or even the transactions to be transfered by this request.
      tags:
        - transfer
      parameters:
        - name: id
          type: string
          in: path
          required: true
      responses:
        '200':
          description: OK
    get:
      summary: Retrieve a transference request info/status based on the transfer id
      description: sdf
      tags:
        - transfer
      parameters:
        - name: id
          type: string
          in: path
          required: true
      responses:
        '200':
          description: OK
  '/transfers/{id}/cancel':
    post:
      summary: Cancel a transference request.
      description: sdf
      tags:
        - transfer
      parameters:
        - name: id
          type: string
          in: path
          required: true
      responses:
        '200':
          description: OK
  '/transfers/{id}/commit':
    post:
      summary: Confirm the exchange rate and term of calculated to the transfer.
      description: After the evaluation and the exchange pricing process, the transfer request is able to be committed. It means that, the client has accepted the exchange rates as well as the term to overseas transferences.
      tags:
        - transfer
      parameters:
        - name: id
          type: string
          in: path
          required: true
      responses:
        '200':
          description: OK
  /balance:
    get:
      summary: This api is used to inform the client about the current financial positions in its bexs account.
      description: s
      tags:
        - management
      responses:
        '200':
          description: OK
  /token:
    post:
      summary: s
      description: s
      tags:
        - utilities
      responses:
        '200':
          description: OK
    delete:
      summary: d
      description: d
      tags:
        - utilities
      responses:
        '200':
          description: OK
  /exchage:
    get:
      summary: d
      description: d
      tags:
        - utilities
      responses:
        '200':
          description: OK
definitions:
  metadata:
    properties:
      metadata:
        type: array
        description: This metadata will be added some custom fields from the client domain into the request item. It might be used to add some useful information. This metadata will not be available as field for research.
        items:
          type: object
          maxItems: 5
          properties: 
            key:
              type: string
              example: my_business_key
              maxLength: 20
              description: The key of your metadata
            value:
              type: string
              maxItems: 100
              example: my_metadata_value
  charge:
    required:
      - type
      - amount
      - currency
    allOf:
      - type: object
        properties:
          type:
            $ref: '#/definitions/types'
          amount:
            type: number
            description: The charge amount
            format: float
            example: 150.17
          currency:
            type: string
            description: The iso currency code according with ISO-4217 https://en.wikipedia.org/wiki/ISO_4217
            example: BRL
          capture:
            type: boolean
            description: Whether **false**, the transaction will not be confirmed automatically. The client do must so send a capture request to confirm the transaction
            default: true
            example: true
          soft_description:
            type: string
            maxLength: 22
            description: This description will be displayed in the customer's card statement or slip
            example: My Company Charge
          customer:
            type: object
            description: Informations about to customer. This data will be keeped with the transaction data.
            properties:
              id: 
                type: string
                description: The customer id on the client platform
                example: MY_CUSTOMER7839
              name:
                type: string
                description: The customer name
                example: Sherlock Holmes
              national_id:
                type: string
                description: The client national id. In Brazil it is used to be the CPF / CNPJ. It is used to guarantee that the customer will not overcome the legal limits for foreign transactions.
                example: 32423412323
              email:
                type: string
                description: The customer email address where receipts will be send. You can send only the email information whether the customer is already send in some previous transaction.
                example: customer@mycustomer.com
              address:
                type: object
                description: The current customer address, when needed. It's required in some sorts of transactions to reduce the possibility of fraud.
                properties:
                  address:
                    type: string
                    description: The complete customer address
                    example: 221B Baker Street
                  city:
                    type: string
                    description: The city's name
                    example: London
                  state:
                    type: string
                    example: JS
                  country:
                    type: string
                    maxLength: 2
                    description: The country code represented by using the ISO 3166-1 alpha-2 https://en.wikipedia.org/wiki/ISO_3166-1
                    example: GB
          card_info:
            type: object
            description: The customer's card info. Whether this node is not available, and the **type** attribute is setted to CREDIT_CARD or DEBIT_CARD, a whitelabel page address will be returned to enable the card data typing. You must redirect your addres to this returned address.
            properties:
              number:
                type: string
                maxLength: 19
                description: the card number
                example: 4444444444444444
              cvv:
                type: number
                description: The cvv number available on the backside of the card
                example: 777
              expiration_date:
                type: string
                description: The card expiration date
                example: 2043-12
      - $ref: '#/definitions/metadata'
  charge_response:
    description: The charged transaction current status
    allOf:
      - type: object
        properties:
          kind:
            type: string
            enum: [charge]
            description: the kind of the returned entity
          id:
            type: string
            example: SDS3200ks346xx2103sr
            description: The transaction ID generated by Bexpay
            maxLength: 20
          type:
            $ref: '#/definitions/types'
          currency:
            type: string
            description: The iso currency code according with ISO-4217 https://en.wikipedia.org/wiki/ISO_4217
            example: BRL
          redirect_url_type:
            type: string
            description: Indicates the type of redirect url to the next step of the customer's payment
            enum:
              - SLIP
              - CHECKOUT
          redirect_url:
            type: string
            description: URL to redirect the customer browser.
            example: https://checkout.bexs.com/checkout/SDS3200ks346xx2103sr
          amount-info:
            type: object
            properties:
              original_amount:
                type: number
                format: float
                description: The original transaction amount
                example: 12.4
              fee:
                type: number
                format: float
                description: The fee to be discounted from the final amount.
                example: 0.4
              tax:
                type: number
                format: float
                description: The tax amount for exchange
                example: 0.6
              currency_rate:
                type: number
                format: float
                description: The exchange rate used to convert the transaction
                example: 4
              exchange_amount:
                type: number
                description: The transaction amount exchanged
                format: float
                example: 3.1
              exchange_currency:
                type: string
                description: The destination currency code in ISO-4217 https://en.wikipedia.org/wiki/ISO_4217
                example: USD
          event_date:
            type: object
            description: This node has date/time for all the important events occurred on this transaction
            properties:
              created_at:
                type: string
                description: Creation date and time
                format: date-time
              autorized_at:
                type: string
                description: Authorization date/time
                format: date-time
              captured_at:
                type: string
                description: The date/time of the capture event
                format: date-time
              reversed_at:
                type: string
                description: Reversal date/time
                format: date-time
              cleared_at:
                type: string
                description: The date that the acquirer paid the transaction value into Bexs account. The amount money of this transaction is available for transference.
                format: date-time
              transfered_at:
                type: string
                description: This is the date when transaction amount was transferred to the client account.
                format: date-time
          status:
            $ref: '#/definitions/status'
      - $ref: '#/definitions/metadata'
  status:
    type: string
    description: The available status for the transaction
    enum:
      - WAITING_CUSTOMER
      - AUTHORIZED
      - CAPTURE_PENDING
      - CAPTURED
      - CANCELLED
      - WAITING_CLEARING
      - CLEARED
      - TRANSFERRED
  types:
    type: string
    description:  the charge type
    enum:
      - CREDIT_CARD
      - DEBIT_CARD
      - SLIP
      - TRANSFERENCE
  bank_account:
    type: object
    description: The customer account number
    properties:
      bank:
        type: number
        description: the bank number
      agency:
        type: string
        description: the agency number
      account:
        type: string
        description: the account number
      digit:
        type: string
        description: the account digit
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
